.btn-transparencia{
    background-color: #FF4C52;
    border: solid #FF4C52;
    width: 360px;
    height: 50px;
    color: #FEF9F5;
    font-size: 24px;
    letter-spacing: 1px;
}


.btn-transparencia:active,
.btn-transparencia:hover
{
    background-color: #F48777;
    border: solid #F48777;
    color: #FEF9F5;
}