.navbar-ethmex{
    background-color: #FEF9F5;
    border-radius: 16px;
    padding: 10px 20px;
    border: solid 3px #FDE2CF;
    box-shadow: 6px 6px 0 0 #FDE2CF; /* Sombra hacia la derecha */

}

.btn-toggler-ethmex {
    border: 2px solid #FFC476;
    transition: border-color 0.3s ease;
}


.btn-toggler-ethmex:hover, 
.navbar-toggler:active {
    border-color: #FFC476;
}
  
.btn-navbar{
    background-color: #FFC476;
    padding: 5px 20px;
}

.btn-navbar:hover, 
.btn-navbar:focus,
.btn-navbar:active{
    background-color: #FCD39D;
    color: #3A3A3A;
}

.navbar-nav .nav-link {
transition: font-weight 0.3s ease;
font-family: 'Passion One', sans-serif;
font-size: 18px;
}

.navbar-nav .nav-link:active,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    font-weight: bold;
    color: #1E836D;
}