.navbar-ethmex{
    background-color: #FEF9F5;
    border-radius: 16px;
    padding: 8px 16px;
    border: solid 3px #FDE2CF;
    box-shadow: 6px 6px 0 0 #FDE2CF; /* Sombra hacia la derecha */ 

}

.btn-toggler-ethmex {
    border: 2px solid #FFC476;
    transition: border-color 0.3s ease;
    
}


.btn-toggler-ethmex:hover, 
.navbar-toggler:active {
    border-color: #FFC476;
}
  
.btn-navbar{
    background-color: #FFC476;
    padding: 5px 20px;
    font-weight: 500;
}

.btn-navbar:hover, 
.btn-navbar:focus,
.btn-navbar:active{
    background-color: #FCD39D;
    color: #1a1a1a;
    font-weight: 500;
}

.navbar-nav .nav-link {
transition: font-weight 0.3s ease;
font-family: 'Outfit', sans-serif;
font-size: 16px;
font-weight: 500;
color: #1a1a1a;
}

.navbar-nav .nav-link:active,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    font-weight: bold;
    color: #206A4B;
}
