.footer-ethmex{
    background-color: #FFC476;
    border-radius: 16px;
    padding: 15px 20px;

}

.btn-footer{
    background-color: #3A3A3A;
    color: #FFC476;
    padding: 8px 32px;

    position: fixed;
    bottom: 50px;
    right: 60px;
    z-index: 999;
}

.btn-footer:hover{
    background-color: #3A3A3A;
    color: #FFC476;
}