
.hero-carousel-item{
  height: 80vh;
  padding: 50px 0px;

}

.bienvenida-texto{
  font-weight: bold;
  font-size: 54px;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  line-height: 1.2;
  
}

.carousel-control-next-icono{
  border-radius: 100%;
  background-color: #FEF9F5;
  color: #3A3A3A;
  padding: 1px 0px 1px 3px;
}

.carousel-control-prev-icono{
  border-radius: 100%;
  background-color: #FEF9F5;
  color: #3A3A3A;
  padding: 1px 3px 1px 0px;
}

@media (min-width: 992px) {

  .bienvenida-texto{
    font-size: 72px;
  }


}
