

.hero-carousel-item{
  height: 90vh;
}

.bienvenida-texto{
  font-weight: bold;
  font-size: 68px;
  text-align: center;
  font-family: 'Passion One', sans-serif;
}

.bienvenida-imagen{
  border-radius: 16px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #3A3A3A; 
  border-radius: 100%;
}

@media (min-width: 1200px) {

  .bienvenida-texto{
    text-align: left;
    font-size: 77px;
    letter-spacing: 2px;
  }

  .bienvenida-imagen{
    width: 600px;
    margin-left: 30px;
  }
  

}

@media (min-width: 1400px) {
  .bienvenida-imagen{
    width: 43%;
  }
}