.hacemos-container {
    padding: 40px;
    height: 80vh;
}

.hacemos-titulo {
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
}

.hacemos-subtexto {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5rem;
}


.card-container {
    text-align: center;
}

.card-container p {
    width: 50%;
    margin: 0 auto;
}

.container-arriba {
    display: flex;
    margin-top: 4rem;
}

.container-abajo {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}