.hacer-item{
    border: solid #FDE2CF 3px;
    border-radius: 16px;
    background-color: #FEF9F5;
    box-shadow: 4px 4px 0 0 #FDE2CF;
    padding: 20px;

}

.hacer-icon{
    width: 90px;
}

@media (min-width: 768px) {

    .hacer-item{
        margin-right: 15px;
    }

    .p-container{
        width: 650px;
    }

}