* {
    margin: 0;
    padding: 0;
}

.hero-ethmex{
    background-image: 
      url('/public/images/pattern.png'), /* Imagen de fondo */
      linear-gradient(to bottom, #FEF9F5, #FDE2CF); /* Degradado */
    background-position: center; /* Centra la imagen de fondo */
    padding: 30px;
    height: 100vh;
}

.hero-footer-ethmex{
    background-image: 
      url('/public/images/pattern.png'), /* Imagen de fondo */
      linear-gradient(to bottom, #FEF9F5, #FEF9F5); /* Degradado */
    background-position: center; /* Centra la imagen de fondo */
    padding: 30px;
}

.ethmex-primary-title{
    color: #1E836D;
    font-size: 48px;
    letter-spacing: 0.5px;
    font-family: 'Passion One', sans-serif;

}

.ethmex-primary-subtitle{
    color: #1E836D;
    font-size: 26px;
    letter-spacing: 0.5px;
}


.ethmex-primary-text{
    color: #1E836D;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.ethmex-text{
    color: #3A3A3A;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;

    
}

.container-ethmex {
    background-image: 
      url('/public/images/pattern.png'), /* Imagen de fondo */
      linear-gradient(to bottom, #FEF9F5, #FEF9F5); /* Degradado */
    background-position: center; /* Centra la imagen de fondo */
    padding: 50px 30px; /* Espaciado interno */
}

.accordion {
    margin: 0 auto; 
    box-shadow: none;

}

.accordion-item{
    border-radius: 8px;
    background-color: #FEF9F5;
    border-top: transparent;
}

.accordion-button{
    background-color: #FFC476;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 0.5px;
    
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
    background-color: #FFC476;
    box-shadow: none;
}

@media (min-width: 992px) {

    .ethmex-text{
        text-align: left;
    }


}

@media (min-width: 1200px) {
    .container-ethmex-aux{
        width: 1200px;
    }
}