body {
  margin: 0;
  font-family: 'Passion One', sans-serif;
  color: #3A3A3A;
  font-size: 16px;
  scroll-behavior: smooth;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
