.btn-contacto{
    background-color: #FFC476;
    border: solid #FFC476;
    width: 260px;
    height: 50px;
    font-size: 24px;
    letter-spacing: 1px;
}

.btn-contacto:hover,
.btn-contacto:active{
    background-color: #FCD39D;
    border: solid #FCD39D;
}

.ethmex-input{
    border: solid 2px #FDE2CF;
    box-shadow: 3px 3px 0 0 #FDE2CF; /* Sombra hacia la derecha */
    border-radius: 16px;
    padding: 15px;
    color: #858585;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    background-color: #FEF9F5;
}