.contactanos-container {
    margin: 10%;
}

.contactanos-container p {
    width: 33%;
    margin: 2rem 0;
}

.respuesta {
    width: 100%;
    background-color: black;
    height: 40px;
    margin-bottom: 2rem;
}

.respuesta-2 {
    width: 100%;
    background-color: black;
    height: 120px;
    margin-bottom: 3rem;
}

button {
    padding: .5rem 4rem;
}