
.logro-carousel-item{
  height: 80vh;

}


@media (min-width: 768px) {
  .logro-carousel-item{
    height: 70vh;
  
  }

}

@media (min-width: 992px) {
  .logro-carousel-item{
    height: 45vh;
  
  }

}